<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
        .btn{
            width: 180px;
            height: 40px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form action="/member/login" method="post">
        아이디 <input type="text" class="form-control" name="memberId"><br>
        비밀번호 <input type="password" class="form-control" name="memberPassword"><br>
        <input type="button" class="btn btn-outline-dark" onclick="location.href='/'" value="Home">
        <input type="submit" class="btn btn-primary" value="로그인">
    </form>
</div>
</body>
</html>