<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="row">
    <div class="col-2">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-1 my-1" th:href="@{|/member/myPage/${member.id}|}">My Page</a>
                <a class="nav-link ms-1 my-1" th:href="@{|/order/findByMemberId/${member.memberId}|}">상품 관련 목록</a>
                <a class="nav-link ms-1 my-1" th:href="@{|/review/findByReviewWriter/${member.memberId}|}">리뷰</a>
                <a class="nav-link ms-1 my-1" th:href="@{|/inquiry/findByInquiryWriter/${member.memberId}|}">문의사항</a>
                <p class="ms-1 my-1">개인 정보</p>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/profile/${member.id}|}">Profile</a>
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/update/${member.id}|}">회원 정보 수정</a>
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/withdrawal/${member.id}|}">회원 탈퇴</a>
                </nav>
            </nav>
        </nav>
    </div>
    <div class="col-10">
        <div class="container">
            <h3 style="margin-top: 20px">Profile</h3><br>
            <img th:src="@{|/upload/${member.memberProfileName}|}" width="250" height="200" alt=""><br>
            아이디 <input class="form-control" type="text" th:value="${member.memberId}" readonly>
            비밀번호 <input class="form-control" type="text" th:value="${member.memberPassword}" readonly>
            이메일 <input class="form-control" type="text" th:value="${member.memberEmail}" readonly>
            이름 <input class="form-control" type="text" th:value="${member.memberName}" readonly>
            전화번호 <input class="form-control" type="text" th:value="${member.memberMobile}" readonly>
        </div>
    </div>
</div>
</body>
</html>