<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>회원 정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
        .nav{
            width: 180px;
        }
        .btn{
            width: 150px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="row">
    <div class="col-2">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-1 my-1" th:href="@{|/member/myPage/${updateMember.id}|}">My Page</a>
                <a class="nav-link ms-1 my-1" th:href="@{|/order/findByMemberId/${updateMember.memberId}|}">상품 관련 목록</a>
                <a class="nav-link ms-1 my-1" th:href="@{|/review/${updateMember.memberId}|}">리뷰</a>
                <p class="ms-1 my-1">개인 정보</p>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/profile/${updateMember.id}|}">Profile</a>
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/update/${updateMember.id}|}">회원 정보 수정</a>
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/withdrawal/${updateMember.id}|}">회원 탈퇴</a>
                </nav>
            </nav>
        </nav>
    </div>
    <div class="col-10">
        <div class="container">
            <h3>내 정보 수정</h3>
            <form action="/member/update" method="post" name="updateForm">
                <input type="hidden" class="form-control" name="id" th:value="${updateMember.id}">
                아이디 <input type="text" class="form-control" name="memberId" th:value="${updateMember.memberId}" readonly>
                비밀번호 <input type="password" class="form-control" id="password" name="memberPassword">
                이름 <input type="text" class="form-control" name="memberName" th:value="${updateMember.memberName}" readonly>
                이메일 <input  type="text" class="form-control" name="memberEmail" th:value="${updateMember.memberEmail}">
                전화번호 <input type="text" class="form-control" name="memberMobile" th:value="${updateMember.memberMobile}">
                <input type="hidden" class="form-control" name="memberProfileName" th:value="${updateMember.memberProfileName}" readonly><br>
                <input type="button" class="btn btn-outline-dark" th:onclick="'location.href=\''+ @{|/member/myPage/${updateMember.id}|} + '\''" value="취소">
                <input type="button" class="btn btn-outline-primary"  onclick="memberUpdate()" value="회원 정보 수정">
            </form>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    const memberUpdate = () => {
        const password = document.getElementById("password").value;
        const pw = [[${updateMember.memberPassword}]];
        if(password == pw){
            updateForm.submit();
        }
        else{
            alert("비밀번호가 일치하지 않습니다.");
        }
    }
</script>
</html>