<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
        .nav{
            width: 180px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="row">
    <div class="col-2">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-1 my-1" th:href="@{|/member/myPage/${member.id}|}">My Page</a>
                <a class="nav-link ms-1 my-1" th:href="@{|/order/findByMemberId/${member.memberId}|}">상품 관련 목록</a>
                <a class="nav-link ms-1 my-1" th:href="@{|/review/findByMemberId/${member.memberId}|}">리뷰</a>
                <p class="ms-1 my-1">개인 정보</p>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/profile/${member.id}|}">Profile</a>
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/update/${member.id}|}">회원 정보 수정</a>
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/withdrawal/${member.id}|}">회원 탈퇴</a>
                </nav>
            </nav>
        </nav>
    </div>
    <div class="col-10">
        <div class="container">
            <h2>회원 탈퇴</h2>
            <form action="/member/withdrawal" method="post" name="withdrawal">
                <table style="margin-top: 20px;">
                    <tr>
                        <th>비밀번호 입력</th>
                    </tr>
                    <tr>
                        <td><input type="password" id="memberPassword" class="form-control" placeholder="비밀번호"></td>
                        <td><input type="button" class="btn btn-outline-danger" onclick="memberPasswordCheck()" value="회원탈퇴"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    const memberPasswordCheck = () => {
        const memberPassword = document.getElementById("memberPassword").value;
        if(memberPassword == [[${member.memberPassword}]]){
            const check = confirm("탈퇴 하시겠습니까?");
            if(check){
                withdrawal.submit();
            }
        }
        else{
            alert("비밀번호가 틀립니다.");
        }
    }
</script>
</html>