<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>주문 내역 상세 조회</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <h2 style="margin-top: 20px">주문 내역 상세 조회</h2><br>
        <input type="button" th:if="${session.loginMemberId.toString().equals('admin')}" class="btn btn-outline-success" style="float: right" onclick="location.href='/order'" value="주문 목록">
        <input type="button" th:if="${session.loginMemberId} != 'admin'" class="btn btn-outline-success" style="float: right" th:onclick="'location.href=\''+ @{|/order/findByMemberId/${order.orderMemberId}|} + '\''" value="주문 목록">
        <br>
        <table class="table">
            <tr>
                <td>주문 회원</td>
                <td th:text="${order.orderMemberId}"></td>
            </tr>
            <tr>
                <td>주문 번호</td>
                <td th:text="${order.id}"></td>
            </tr>
            <tr>
                <td>주문 상품 번호</td>
                <td th:text="${order.orderProductId}"></td>
            </tr>
            <tr>
                <td>상품명</td>
                <td th:text="${order.orderProductName}"></td>
            </tr>
            <tr>
                <td>주문 수량</td>
                <td th:text="${order.orderCounts}"></td>
            </tr>
            <tr>
                <td>총 주문 금액</td>
                <td th:text="${order.orderPrice}"></td>
            </tr>
            <tr>
                <td>주문 시간</td>
                <td th:text="*{#temporals.format(order.orderCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td th:text="${order.orderMobile}"></td>
            </tr>
            <tr>
                <td>배송지</td>
                <td th:text="${order.orderAddress}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>