<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>주문 내역 상세 조회</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <h2 style="margin-top: 20px">주문 내역 상세 조회</h2><br>
        <input type="button" th:if="${session.loginMemberId.toString().equals('admin')}" class="btn btn-outline-success" style="float: right" onclick="location.href='/order'" value="주문 목록">
        <input type="button" th:if="${session.loginMemberId} != 'admin'" class="btn btn-outline-success" style="float: right" th:onclick="'location.href=\''+ @{|/order/findByMemberId/${order.orderMemberId}|} + '\''" value="주문 목록">
        <br>
        주문 회원 아이디 <input class="form-control" type="text" th:value="${order.orderMemberId}" readonly>
        주문 번호<input class="form-control" type="text" th:value="${order.id}" readonly>
        주문 상품번호<input class="form-control" type="text" th:value="${order.orderProductId}" readonly>
        주문 상품명<input class="form-control" type="text" th:value="${order.orderProductName}" readonly>
        주문 상품 수량<input class="form-control" type="text" th:value="${order.orderCounts}" readonly>
        총 주문 금액 <input class="form-control" type="text" th:value="${order.orderPrice}" readonly>
        주문 시간 <input class="form-control" type="text" th:value="*{#temporals.format(order.orderCreatedTime, 'yyyy-MM-dd HH:mm:ss')}" readonly>
        주문 회원 전화번호<input class="form-control" type="text" th:value="${order.orderMobile}" readonly>
        배송지<input class="form-control" type="text" th:value="${order.orderAddress}" readonly>
    </div>
</div>
</body>
</html>