<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>문의사항 상세 조회</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <h3>문의사항 상세 조회</h3>
        <input type="button"  style="float: right;" class="btn btn-outline-dark" th:onclick="'location.href=\''+ @{|/product/${inquiry.inquiryProductId}|} + '\''" value="상품 상세 조회">
        <table class="table">
            <tr>
                <td th:text="'작성자: ' + ${inquiry.inquiryWriter}"></td>
                <td style="font-size: 15px;" th:text="'작성일: ' + *{#temporals.format(inquiry.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <td th:text="'제목: ' + ${inquiry.inquiryTitle}"></td>
                <td style="font-size: 15px;" th:if="${inquiry.updatedTime} != null" th:text="'수정일: ' + *{#temporals.format(inquiry.updatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <td colspan="10" rowspan="20" th:text="${inquiry.inquiryContents}"></td>
            </tr>
        </table>

    </div>
</body>
</html>