<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>문의사항 작성</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <h3 style="margin-top: 30px;">문의사항 작성</h3>
        <form action="/inquiry/save" method="post" name="inquiryForm">
            <input type="hidden" name="inquiryProductId" th:value="${product.id}">
            상품명 <input type="text" class="form-control" name="inquiryProductName" th:value="${product.productName}" readonly>
            작성자 <input type="text" class="form-control" name="inquiryWriter" th:value="${session.loginMemberId}" readonly>
            제목 <input type="text" class="form-control" id="inquiryTitle" name="inquiryTitle">
            내용 <textarea  class="form-control" id="inquiryContents" cols="10" rows="10" name="inquiryContents"></textarea>
            공개여부
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inquiryPublic" id="inlineRadio1" value="1" checked>
                <label class="form-check-label" for="inlineRadio1">공개</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inquiryPublic" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">비공개</label>
            </div>
            <br>
            <input type="button" class="btn btn-outline-dark" th:onclick="'location.href=\''+ @{|/product/${product.id}|} + '\''" value="취소">
            <input type="button" class="btn btn-outline-primary" onclick="inquiryCheck()" value="작성하기">
        </form>
    </div>
</body>
<script th:inline="javaScript">
    const inquiryCheck = () => {
        const inquiryTitle = document.getElementById("inquiryTitle").value;
        const inquiryContents = document.getElementById("inquiryContents").value;
        if(inquiryTitle == ""){
            alert("문의사항 제목을 작성해주세요.");
        }
        else{
            if(inquiryContents == ""){
                alert("문의사항 내용을 작성해주세요.");
            }
            else{
                inquiryForm.submit();
            }
        }
    }
</script>
</html>