<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>상품 상세 조회</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        .btn-outline-primary {
            float: right;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <div th:if="${session.loginId}">
            <button th:if="${session.loginMemberId.toString().equals('admin')}" class="btn btn-outline-primary" th:onclick="'location.href=\''+ @{|/product/update/${product.id}|} + '\''">상품정보수정</button>
        </div>
        <table class="table">
            <tr>
                <td style="font-size: 35px;" th:text="${product.productName}">상품명</td>
            </tr>
            <tr>
                <td style="float: right; font-size: 11px; color: gray;" th:text="${product.id}"></td>
                <td style="float: right; font-size: 11px; color: gray;">상품번호</td>
                <td style="float: right; font-size: 11px; color: gray;" th:text="${product.productHits}"></td>
                <td style="float: right; font-size: 11px; color: gray;">조회수</td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td colspan="4"><img th:src="@{|/upload/${product.productFileName}|}" width="400" height="300" alt=""></td>
                <td th:text="${product.productPrice}">판매가</td>
                <td th:text="${product.productBrand}">상품 브랜드</td>
            </tr>
            <tr>
                <td rowspan="4" th:text="${product.productInformation}"></td>
            </tr>
        </table>
    </div>
</body>
</html>