<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>상품 상세 조회</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        .btn {
            float: right;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <div th:if="${session.loginId}">
            <button th:if="${session.loginMemberId.toString().equals('admin')}" class="btn btn-outline-primary" onclick="req(1)">상품정보수정</button>
            <button th:if="${session.loginMemberId.toString().equals('admin')}" class="btn btn-outline-danger" onclick="req(2)">상품 삭제</button>
        </div>
        <table class="table">
            <tr>
                <td style="font-size: 35px;" th:text="${product.productName}">상품명</td>
            </tr>
            <tr>
                <td style="float:right; font-size: 11px; color: gray;" th:text="${product.id}"></td>
                <td style="float:right; font-size: 11px; color: gray;">상품번호</td>
                <td style="float:right; font-size: 11px; color: gray;" th:text="${product.productHits}"></td>
                <td style="float:right;font-size: 11px; color: gray;">조회수</td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td rowspan="5"><img th:src="@{|/upload/${product.productFileName}|}" width="500" height="350" alt=""></td>
            </tr>
            <tr>
                <td style="font-size: 15px;" th:text="'제조일: ' + ${product.productCreatedTime}"></td>
            </tr>
            <tr>
                <td style="font-size: 15px;" th:text="'브랜드: ' + ${product.productBrand}"></td>
            </tr>
            <tr>
                <td th:text="'판매가: ' + ${product.productPrice}"></td>
            </tr>
            <tr>
                <td>
                    <button th:unless="${session.loginId}" onclick="idCheck(1)" class="btn" style="border-radius: 50%"> <i class="bi bi-heart" style="color: gray;"></i></button>
                    <div th:if="${session.loginId}">
                        <div><button th:if="${session.loginMemberId.toString().equals('admin')}" class="btn" style="border-radius: 50%;" onclick="idCheck(2)"> <i class="bi bi-heart" style="color: gray;"></i></button></div>
                        <div th:if="${session.loginMemberId != 'admin'}">
                            <button class="btn" style="border-radius: 50%;">
                                <i th:if="${wishProduct} == null" onclick="wishSave()"  class="bi bi-heart" style="color: gray;"></i>
                                <i th:if="${wishProduct} != null" th:onclick="wishDelete([[${wishProduct.id}]])" class="bi bi-heart" style="color: red;"></i>
                            </button>
                        </div>
                    </div>
                    <input type="button" class="btn btn-outline-info" th:onclick="productOrder([[${product.id}]])" value="주문하기"> &nbsp;
                    <input type="button" onclick="cart()" class="btn btn-secondary" value="장바구니 담기"> &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 55px;">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#information-tab-pane" type="button" role="tab" aria-controls="information-tab-pane" aria-selected="true">상품 정보</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review-tab-pane" type="button" role="tab" aria-controls="review-tab-pane" aria-selected="false" >상품 리뷰</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent" style="margin-left: 55px;">
                        <div class="tab-pane fade show active" id="information-tab-pane" role="tabpanel" aria-labelledby="information-tab" tabindex="0" th:text="${product.productInformation}"></div>
                        <div class="tab-pane fade" id="review-tab-pane" role="tabpanel" aria-labelledby="review-tab" tabindex="0">
                            <i class="bi bi-chat-left-text"></i> [[${reviewList.size()}]] reviews
                            <button class="btn btn-outline-primary" th:onclick="reviewSave([[${product.id}]])" ><i class="bi bi-pencil-square"></i>작성하기</button>
                            <table class="table" th:each="review : ${reviewList}">
                                <div th:if="${session.loginMemberId}">
                                    <button class="btn btn-primary" th:if="${session.loginMemberId.toString().equals('[[${review.reviewWriter}]]')}">수정</button>
                                </div>
                                <tr>
                                    <td rowspan="4"><img th:src="@{|/upload/${review.reviewFileName}|}" width="80" height="80" alt=""></td>
                                </tr>
                                <tr>
                                    <td><a th:href="@{|/review/${review.id}|}" style="font-size: 15px;" th:text="'상품명: ' + ${product.productName}"></a></td>
                                    <td style="font-size: 12px; margin-right: 15px;" th:text="'작성자: ' + ${review.reviewWriter}"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 15px;" th:text="'리뷰 번호: ' + ${review.id}"></td>
                                    <td style="font-size: 12px; margin-right: 15px;" th:text="'작성일: ' + *{#temporals.format(review.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 15px;" th:text="'제목: ' + ${review.reviewTitle}"></td>
                                    <td style="font-size: 12px; margin-right: 30px;" th:if="${review.updatedTime} != null" th:text="'수정일: ' + *{#temporals.format(review.updatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                            </table>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
<script th:inline="javascript">
    const req = (num) => {
        const id = [[${product.id}]];
        if(num == 1){
            location.href = "/product/update/" + id;
        }
        else if(num == 2){
            const deleteCheck = confirm("상품을 삭제하겠습니까?");
            if(deleteCheck){
                $.ajax({
                    type: "delete",
                    url: "/product/"+ id,
                    success:function (){
                        location.href = "/product";
                    },
                    error:function (){
                        alert("상품 삭제 실패")
                    }
                })
            }
        }
    }

    const productOrder = (id) => {
        const member = [[${session.loginMemberId}]]
        if(member == null){
            const login = confirm("비회원은 주문할 수 없습니다. 로그인을 하시겠습니까?");
            if(login){
                location.href='/member/login-form';
            }
        }
        else{
            if(member == "admin"){
                alert("관리자는 주문할 수 없습니다.");
            }
            else{
                if([[${product.productCounts}]] > 0){
                    location.href="/order/save-form/" + id;
                }
                else{
                    alert("해당 상품의 재고가 없으므로 주문할 수 없습니다.");
                }
            }
        }
    }
    const cart = () => {
        if([[${session.loginId}]]){
            if([[${session.loginMemberId}]] == "admin"){
                alert("관리자는 장바구니에 상품을 담을 수 없습니다.");
            }
            else{
                $.ajax({
                    type: "post",
                    url: "/cart/save",
                    data: {"cartMemberId": [[${session.loginMemberId}]], "cartProductName": [[${product.productName}]],"cartProductBrand": [[${product.productBrand}]], "cartProductCreatedTime": [[${product.productCreatedTime}]],
                        "cartProductId": [[${product.id}]], "cartProductFileName": [[${product.productFileName}]], "cartProductPrice": [[${product.productPrice}]], "cartProductCounts":1},
                    dataType: "text",
                    success:function (result){
                        if(result == 1){
                            console.log("success");
                            alert("장바구니에 담겼습니다.");
                        }
                        else{
                            alert("장바구니에 이미 담겨져 있습니다.");
                        }
                    },
                    error:function (){
                        alert("장바구니에 담을 수 없습니다.");
                    }

                })
            }
        }
        else {
            const login = confirm("비회원은 장바구니에 상품을 담을 수 없습니다. 로그인을 하시겠습니까?");
            if(login){
                location.href='/member/login-form';
            }
        }
    }
    const idCheck = (num) => {
        if(num == 1){
            const check = confirm("비회원은 찜 기능을 할 수 없습니다. 로그인을 하시겠습니까?");
            if(check){
                location.href="/member/login-form";
            }
        }
        else if(num == 2){
            alert("관리자는 찜 기능을 할 수 없습니다.");
        }
    }
    const wishSave = () => {
        $.ajax({
            type: "post",
            url: "/wish/save",
            data: {
                "wishMemberId": [[${session.loginMemberId}]],
                "wishProductId": [[${product.id}]],
                "wishProductName": [[${product.productName}]],
                "wishProductBrand": [[${product.productBrand}]],
                "wishPrice": [[${product.productPrice}]],
                "wishProductCreatedTime": [[${product.productCreatedTime}]],
                "wishFileName": [[${product.productFileName}]]
            },
            dataType: "text",
            success: function (result) {
                if (result == 1) {
                    location.href = "/product/" + [[${product.id}]];
                } else {
                    alert("찜 목록에 상품이 저장되지 않았습니다.");
                }

            },
            error: function () {
                alert("찜 목록에 상품을 저장하는 기능을 수행할 수 없습니다.");
            }
        })
    }
    const wishDelete = (id) => {
        $.ajax({
            type: "delete",
            url: "/wish/" + id,
            success: function () {
                location.href = "/product/" + [[${product.id}]];
            },
            error: function () {
                alert("ajax 실패");
            }
        })
     }
    const reviewSave =() => {
        if([[${session.loginId}]]){
            if([[${session.loginMemberId}]] == "admin"){
                alert("관리자는 리뷰를 작성할 수 없습니다.");
            }
            else{
                $.ajax({
                    type:"post",
                    url:"/order/check",
                    data: {"orderProductId": [[${product.id}]], "orderMemberId": [[${session.loginMemberId}]]},
                    dataType: "text",
                    success:function (result){
                        if(result == 1){
                            console.log("리뷰 작성 가능");
                            location.href = "/review/save-form/" + [[${product.id}]];
                        }
                        else{
                            alert("해당 상품을 주문 하지 않았거나 구매 완료가 된 상품이 아니므로 리뷰를 작성할 수 없습니다.");
                        }
                    },
                    error:function (){
                        alert("주문 조회 기능을 수행할 수 없습니다.");
                    }
                })
            }
        }
        else{
            const login = confirm("비회원은 리뷰를 작성할 수 없습니다. 로그인을 하시겠습니까?");
            if(login){
                location.href="/member/login-form";
            }
        }
    }


</script>
</html>