<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>상품 목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
        .nav{
            width: 80%;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All</button>
                <button class="nav-link" id="nav-write-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-write" aria-selected="false">필기류</button>
                <button class="nav-link" id="nav-note-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-note" aria-selected="false">노트/수첩/메모지</button>
                <button class="nav-link" id="nav-file-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-file" aria-selected="false">파일/사무용품</button>
                <button class="nav-link" id="nav-fancy-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-fancy" aria-selected="false">팬시용품</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card" th:each="product: ${productList}">
                        <img th:src="@{|/upload/${product.productFileName}|}" class="card-img-top" alt="" width="150" height="150">
                        <div class="card-body">
                            <h5 th:text="${product.productName}"></h5>
                            <p class="card-text" th:text="${product.productPrice}"></p>
                            <button onclick=""><i class="bi bi-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">
</script>
</html>