<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>상품 목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        .container{
            margin-top: 20px;
        }

    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="container">
    <div class="form-floating">
        <table>
            <form action="/product/search" method="get">
                <div class="input-group mt-5">
                    <input type="text" class="form-control" name="q" placeholder="상품 검색" style="max-width: 450px" aria-label="Product search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" style="height: 40px; width: 50px;" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </form>
        </table>
    </div>
        <div class="container">
            <div class="tab-content" id="nav-tabContent">
                <div class="card" style="width: 18rem; height: 260px;" th:each="product: ${productList}">
                    <img th:src="@{|/upload/${product.productFileName}|}" class="card-img-top" alt="" width="30" height="130" th:onclick="'location.href=\''+ @{|/product/${product.id}|} + '\''">
                    <div class="card-body">
                        <a class="card-title" style="font-size: 25px;" th:text="${product.productName}" th:href="@{|/product/${product.id}|}" >Card title</a>
                        <p class="card-text" style="visibility: hidden;" th:text="${product.categoryId}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text" th:text="${product.productPrice}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
        <ul class="pagination justify-content-center">
            <li class="page-item">

                <a class="page-link" th:href="@{/product(page=1)}">
                    <span>First</span>
                </a>
            </li>

            <li th:class="${productList.first} ? 'disabled'" class="page-item">

                <a class="page-link" th:href="${productList.first} ? '#' : @{/product(page=${memberList.number})}">
                    <span><</span> <!-- < -->
                </a>
            </li>


            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                th:class="${page == productList.number + 1} ? 'page-item active'" class="page-item">
                <a class="page-link" th:text="${page}" th:href="@{/product(page=${page})}"></a>
            </li>

            <li th:class="${productList.last} ? 'disabled'">
                <a class="page-link" th:href="${productList.last} ? '#' : @{/product(page=${productList.number + 2})}">
                    <span>&gt;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" th:href="@{/product(page=${productList.totalPages})}">
                    <span>Last</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>

</html>