<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>상품 등록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
        .nav{
            width: 180px;
        }
        .btn{
            width: 180px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="container">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="false" onclick="location.href='/member/admin'">Admin Page</button>
            <button class="nav-link" id="v-pills-member-tab" data-bs-toggle="pill" data-bs-target="#v-pills-member" type="button" role="tab" aria-controls="v-pills-member" aria-selected="false" onclick="location.href='/member'">회원 관리</button>
            <button class="nav-link active" id="v-pills-product-tab" data-bs-toggle="pill" data-bs-target="#v-pills-product" type="button" role="tab" aria-controls="v-pills-product" aria-selected="true" onclick="location.href='/product/save-form'">상품 등록</button>
            <button class="nav-link" id="v-pills-order-tab" data-bs-toggle="pill" data-bs-target="#v-pills-order" type="button" role="tab" aria-controls="v-pills-order" aria-selected="false" onclick="location.href='/order'">주문 관리</button>
        </div>
        <div class="container">
            <h2>상품 등록</h2>
            <form action="/product/save" method="post" enctype="multipart/form-data">
                <input type="hidden" name="productAdmin" th:value="${session.loginMemberId}"><br>
                상품명<input type="text" name="productName" class="form-control"><br>
                상품 판매 수량 <input type="text" name="productCounts" class="form-control"><br>
                상품 카테고리 <select name="categoryId" class="form-select" aria-label="Default select example">
                            <option value="1" th:selected>필기류</option>
                            <option value="2">노트/수첩/메모지</option>
                            <option value="3">파일/사무용품</option>
                            <option value="4">팬시용품</option>
                            </select><br>
                상품 제조사 <input type="text" class="form-control" name="productBrand"><br>
                상품 제조일 <input type="text" class="form-control" name="productCreatedTime"><br>
                상품 가격 <input type="text" class="form-control" name="productPrice"><br>
                상품 상세 정보 <textarea class="form-control" name="productInformation" cols="5" rows="10"></textarea><br>
                첨부파일 <input type="file" class="form-control" name="productFile"><br>
                <input type="button" class="btn btn-outline-dark" value="취소" onclick="location.href='/member/admin'">
                <input type="submit" class="btn btn-outline-primary" value="상품 등록">
            </form>
        </div>
    </div>
</div>
</body>

</html>