<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>상품 검색 결과</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        .container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <div class="form-floating">
            <table>
                <form action="/product/search" method="get">
                    <div class="input-group mt-5">
                        <input type="text" class="form-control" name="q" placeholder="상품 검색" style="max-width: 450px" aria-label="Product search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" style="height: 40px; width: 50px;" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </table>
        </div>
        <div class="container">
            <div class="tab-content" id="nav-tabContent" >
                <div class="card" style="width: 18rem; height: 260px;" th:each="search: ${searchList}">
                    <img th:src="@{|/upload/${search.productFileName}|}" class="card-img-top" alt="" width="30" height="130" th:onclick="'location.href=\''+ @{|/product/${search.id}|} + '\''">
                    <div class="card-body">
                        <a class="card-title" style="font-size: 25px;" th:text="${search.productName}" th:href="@{|/product/${search.id}|}" >Card title</a>
                        <p class="card-text" style="visibility: hidden;" th:text="${search.categoryId}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text" th:text="${search.productPrice}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <ul class="pagination justify-content-center">
        <li class="page-item">

            <a class="page-link" th:href="@{/product/search(page=1, q=${q})}">
                <span>First</span>
            </a>
        </li>

        <li th:class="${searchList.first} ? 'disabled'" class="page-item">
            <a class="page-link" th:href="${searchList.first} ? '#' : @{/product/search(page=${searchList.number},q=${q})}">
                <span><</span>
            </a>
        </li>


        <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
            th:class="${page == searchList.number + 1} ? 'page-item active'" class="page-item">
            <a class="page-link" th:text="${page}" th:href="@{/product/search(page=${page},q=${q})}"></a>
        </li>

        <li th:class="${searchList.last} ? 'disabled'">
            <a class="page-link" th:href="${searchList.last} ? '#' : @{/product/search(page=${searchList.number + 2},q=${q})}">
                <span>&gt;</span>
            </a>
        </li>

        <li class="page-item">
            <a class="page-link" th:href="@{/product/search(page=${searchList.totalPages},q=${q})}">
                <span>Last</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>