<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>리뷰 상세조회</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style>
        .container{
            margin-top: 30px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <h3>리뷰 상세조회</h3>
        <table class="table">
            <tr>
                <td th:text="'작성자: ' + ${review.reviewWriter}"></td>
                <td style="font-size: 15px;" th:text="'작성일: ' + *{#temporals.format(review.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <td th:text="'제목: ' + ${review.reviewTitle}"></td>
                <td style="font-size: 15px;" th:if="${review.updatedTime} != null" th:text="'수정일: ' + *{#temporals.format(review.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <td rowspan="4"><img th:src="@{|/upload/${review.reviewFileName}|}" width="300" height="350" alt=""></td>
                <td th:text="${review.reviewContents}"></td>
            </tr>
        </table>
    </div>
</body>
</html>