<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org">
    <title>작성 리뷰 목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
        .nav{
            width: 180px;
        }
        .nav-fill{
            width: 50%;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="row">
    <div class="col-2">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-1 my-1" th:href="@{|/member/myPage/${session.loginId}|}">My Page</a>
                <a class="nav-link ms-1 my-1" th:href="@{|/order/findByMemberId/${session.loginMemberId}|}">상품 관련 목록</a>
                <a class="nav-link ms-1 my-1" href="#">리뷰</a>
                <a class="nav-link ms-1 my-1"th:href="@{|/inquiry/findByInquiryWriter/${session.loginMemberId}|}">문의사항</a>
                <p class="ms-1 my-1">개인 정보</p>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/profile/${session.loginId}|}">Profile</a>
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/update/${session.loginId}|}">회원 정보 수정</a>
                    <a class="nav-link ms-1 my-1" th:href="@{|/member/withdrawal/${session.loginId}|}">회원 탈퇴</a>
                </nav>
            </nav>
        </nav>
    </div>

    <div class="col-10">
        <div class="container">
            <h3 style="margin-top: 30px;">작성한 리뷰 목록</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">이미지</th>
                    <th scope="col">리뷰 번호</th>
                    <th scope="col">상품명</th>
                    <th scope="col">리뷰 제목</th>
                    <th scope="col">작성시간</th>
                    <th scope="col">수정시간</th>
                    <th scope="col">상세 조회</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="review: ${reviewList}" style="position: center">
                        <td><img th:src="@{|/upload/${review.reviewFileName}|}" width="100" height="100" alt=""></td>
                        <td th:text="${review.id}"></td>
                        <td><a th:href="@{|/product/${review.reviewProductId}|}" th:text="${review.reviewProductName}"></a></td>
                        <td th:text="${review.reviewTitle}"></td>
                        <td th:text="*{#temporals.format(review.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:if="${review.updatedTime} != null" th:text="*{#temporals.format(review.updatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:if="${review.updatedTime} == null"> - </td>
                        <td><button class="btn btn-outline-success" th:onclick="'location.href=\''+ @{|/review/${review.id}|} + '\''">상세 조회</button></td>
                        <td><button class="btn btn-danger" th:onclick="reviewDeleteById([[${review.id}]])">삭제</button></td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:href="@{/review/findByReviewWriter/{reviewWriter}(reviewWriter = ${session.loginMemberId}, page=1)}">
                        <span>First</span>
                    </a>
                </li>

                <li th:class="${reviewList.first} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="${reviewList.first} ? '#' : @{/review/findByReviewWriter/{reviewWriter}(reviewWriter = ${session.loginMemberId}, page=${reviewList.number})}">
                        <span><</span>
                    </a>
                </li>


                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:class="${page == reviewList.number + 1} ? 'page-item active'" class="page-item">
                    <a class="page-link" th:text="${page}" th:href="@{/review/findByReviewWriter/{reviewWriter}(reviewWriter = ${session.loginMemberId}, page=${page})}"></a>
                </li>

                <li th:class="${reviewList.last} ? 'disabled'">
                    <a class="page-link" th:href="${reviewList.last} ? '#' : @{/review/findByReviewWriter{reviewWriter}(reviewWriter= ${session.loginMemberId}, page=${reviewList.number + 2})}">
                        <span>&gt;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" th:href="@{/review/findByReviewWriter/{reviewWriter}(reviewWriter = ${session.loginMemberId}, page=${reviewList.totalPages})}">
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    const reviewDeleteById = (id) => {
        const check = confirm("리뷰를 삭제하시겠습니까?")
        if(check){
            $.ajax({
                type: "delete",
                url: "/review/" + id,
                success:function (){
                    location.href="/review/findByReviewWriter/" + [[${session.loginMemberId}]];
                },
                error:function (){
                    alert("삭제 ajax 실패");
                }
            })
        }

    }
</script>
</html>